<div class="row">
  <div class="col-lg-12 dashboard-main">
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>


    <div class="header-right pull-right">
      <%= link_to "Sign Out", logout_path, class: "header-right-links" %><br>
    </div>

    <h1 class="page-header"><%= current_user.nickname %></h1>
  </div>
</div>

<script>
  window.data = <%= raw @data.to_json %>
</script>

<div class="row">
  <div class="col-lg-12">
    <%= react_component "Dashboard" %>
  </div>
</div>
